:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ant-layout-sider-bg: #001529;
  --ant-layout-trigger-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 227, 0.8);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  transition: 0.2s;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ant-space {
  width: 100%;
}
